In this notebook, I am trying to learn processing mining through ** Health Care** industry example

In [ ]:
# Import Libs 
import pandas as pd

In [ ]:
data_path = 'https://gitlab.com/healthcare2/process-mining-tutorial/-/raw/master/ArtificialPatientTreatment.csv'
events = pd.read_csv(data_path)
events.head()

     patient           action  org:resource              DateTime
0  patient 0    First consult      Dr. Anna   2017-01-02 11:40:11
1  patient 0       Blood test           Lab   2017-01-02 12:47:33
2  patient 0    Physical test   Nurse Jesse   2017-01-02 12:53:50
3  patient 0   Second consult      Dr. Anna   2017-01-02 16:21:06
4  patient 0          Surgery   Dr. Charlie   2017-01-05 13:23:09

In [ ]:
# renaming the columns to have a better shape
events.columns = ['patient', 'action', 'resources', 'datetime']

# Change the event to date time 
events['datetime'] = pd.to_datetime(events['datetime'])
events.head()

     patient           action     resources            datetime
0  patient 0    First consult      Dr. Anna 2017-01-02 11:40:11
1  patient 0       Blood test           Lab 2017-01-02 12:47:33
2  patient 0    Physical test   Nurse Jesse 2017-01-02 12:53:50
3  patient 0   Second consult      Dr. Anna 2017-01-02 16:21:06
4  patient 0          Surgery   Dr. Charlie 2017-01-05 13:23:09